#titulo{
    width: auto;     
    border-bottom: 6px solid black;     
    height: 1em;     
    font-size: 50px;     
    text-align: center;     
    padding: 0.6em;     
    overflow: auto; 
}
#contenido{     
    width: 50%;     
    height: 70%;     
    float: left;     
    margin: 15px 3% 0 3%; 
}
#menuizq{     
    margin: 15px 15px 0 0;     
    width: 5em;     
    height: 70%;     
    border-right: 6px solid black;     
    padding: 2em;     
    font-size: 20px;     
    float: left; 
}
